<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>seller</title>
    <link rel="stylesheet" href="../../css/main.css">
    <script defer src="seller.js"></script>
  </head>
  <body>
    <nav>
        <div class="nav-left">
            <ul>
                <a href="../../index.html"><img src="../../images/logo.png"></a>
            </ul>
        </div>
        <div class="nav-right">
            <ul class="actions">
                <li><a href="seller.html">Seller</a></li>
                <li>|</li>
                <li><a href="../customer/customer.html">Customer</a></li>
            </ul>
        </div>
    </nav>
    <div id="questions-dialog" style="display: none">
      <dialog open>
        <header>Add Product</header>
        <section>
          <label>Name Of Product</label>
          <input id="choiceA" type="text" placeholder="name Of Product" />
          <label>Product Image</label>
          <input id="choiceB" type="text" placeholder="product Image" />
          <label>Price</label>
          <input id="choiceC" type="number" placeholder="price"/>
          <label>Currency</label>
          <input id="choiceD" type="text" placeholder="currency"/>
         
        </section>
        <menu>
          <button>Cancel</button>
          <button id="create">Create</button>
        </menu>
      </dialog>
    </div>

    <div id="edit-view">
      <div id="questions-view">
        <button>Add Product</button>
        <table id="product-view">
          <thead>
            <tr>
              <th>Name of product</th>
              <th>Product image</th>
              <th>Price</th>
              <th>Currency</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="add-product">
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>