<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="cart.js"></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <ul>
                <a href="../customer/customer.html"><img src="../../images/logo.png"></a>
            </ul>
        </div>
        <div id="nav-right">
            <ul>
                <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                <a href="#">
                    <i class="fa fa-shopping-cart" id="product-icon"></i>
                    
                    
                </a>
            </ul>
           
        </div>
    </nav>
    <div id="store-cart-product">
        <h1>Your cart</h1>
        <div id="dialog-box" class="dialog-cart">
            <table id="store-products">
                <thead id="product-title">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="store-product">

                </tbody>
                
            </table>
            
        </div>
        <div id="total-price">Your total price: 
            <span id="total">0</span>$
        </div>
        <menu>
            <button><a href="../customer/customer.html">Cancel buying</a></button>
            <button>Order Now</button>
        </menu>
    </div>
    <div id="footer">
        <div class="footer">
            <div class="information">
                <div class="title">About Us</div>
                <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa inventore tempore rem veritatis commodi? Tempora atque consequuntur, numquam consectetur harum exercitationem, illum laborum excepturi natus cum maxime, reiciendis recusandae! Velit?</span>
            </div>
            <div class="information">
                <div class="title">Contact Us</div>
                <span><i class="fa fa-phone-square" aria-hidden="true"> Phone Number:</i>
    
                        +855 81 697 501
                        </span>
                <span><i class="fa fa-telegram" aria-hidden="true"> Telegram:</i>
                        +855 81 697 501
                        </span>
                <span><i class="fa fa-envelope-o" aria-hidden="true"> Email:</i>
                            Kpop.Exchange@gmail.com
                            </span>
                <span><i class="fa fa-map-marker" aria-hidden="true"> Location</i>
        
                                </span>
              
            </div>
            <div class="information">
                <div class="title">Follow Us</div>
                <span><i class="fa fa-facebook-square" aria-hidden="true"> Facebook</i>
    
                      
                        </span>
                <span><i class="fa fa-instagram" aria-hidden="true"> Instagram</i>
                       
                        </span>
                <span><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</i>
                           
                            </span>
            </div>
            <div class="information">
                <div class="title">Download app for FREE
                </div>
                <div class="text">
                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                    <img src="../../images/google play.png" alt="">
                    </div>
                </div>
            </div>
            <a href="../customer/customer.html"><img src="../../images/logo.png"></a>

        </div>  
    </div>
</body>
</html>